@import url(./header.css);
@import url(./footer.css);

body {
    background-image: linear-gradient(to right, rgb(136, 103, 189), white);
}

#toolbar_eventos {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#busca_evento {
    padding-left: 1%;
}

#titulo_eventos {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

main {
    border-top: 1px solid rgb(255, 255, 255);
}