footer {
    background-color: #1E2124;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; foi trocado por auto para o efeito sticky */
    margin-top: auto; /* Chave para o sticky footer em um container flex */
}