@import url(./header.css);
@import url(./footer.css);


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #23272A; 
}


main {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.form-container {
    background-color: #2C2F33; 
    color: #FFFFFF; 
}


.form-control, .form-select {
    background-color: #40444B;
    border: 1px solid #5c5c5c;
    color: #FFFFFF;
}

.form-control:focus, .form-select:focus {
    background-color: #40444B;
    border-color: #A491D3; 
    color: #FFFFFF;
    box-shadow: 0 0 0 0.25rem rgba(164, 145, 211, 0.25);
}


.form-check-input:checked {
    background-color: #A491D3;
    border-color: #A491D3;
}
.form-check-input {
    background-color: #40444B;
    border-color: #5c5c5c;
}


#enviar_treino.btn-primary {
    background-color: #444;
    border-color: #A491D3;
}
#enviar_treino.btn-primary:hover {
    background-color: #A491D3;
    border-color: #A491D3;
}


.invalido{
    border: 2px solid #C62828;
    background-color: #412f2f;
}

.valido {
    border: 2px solid green;
    background-color: #2a3b2a;
}

.alert-caixa{
    display: flex;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: auto;
    max-width: 90%;
}