<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/registro_treino.css">
    <link rel="icon" href="../../assets/img/Logo_Volleyball_Angels.png">
    <title>Volleyball Angels - Registro de Treino</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="header-spacer"></div>
            <div class="container-logo">
                <h1 id="texto-logo">Volleyball Angels</h1>
            </div>
            <div class="login">
    
                <div id="welcome-message-container" class="welcome-container"> 
                    <span id="welcome-prefix"></span>
                    <span id="welcome-username"></span>
                </div>

                <a href="#" class="btn btn-danger btn-sm" id="logout-btn">
                    Sair
                </a>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="navbar">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="index.html">Home</a></li>
                            <li><a class="dropdown-item" href="eventos.html">Eventos</a></li>
                            <li><a class="dropdown-item" href="jogos.html">Jogos</a></li>
                            <li><a class="dropdown-item" href="treino.html">Treinos</a></li>
                            <li><a class="dropdown-item" href="produtos.html">Produtos</a></li>
                            <li><a class="dropdown-item" href="usuario.html">Usuários</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item nav-item-desktop"><a class="nav-link" href="eventos.html">Eventos</a></li>
                    <li class="nav-item nav-item-desktop"><a class="nav-link" href="jogos.html">Jogos</a></li>
                    <li class="nav-item nav-item-desktop"><a class="nav-link active" aria-current="page" href="treino.html">Treinos</a></li>
                    <li class="nav-item nav-item-desktop"><a class="nav-link" href="produtos.html">Produtos</a></li>
                    <li class="nav-item nav-item-desktop"><a class="nav-link" href="usuario.html">Usuários</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="shadow-lg border p-5 form-container">
            <form id="form_treino">
                <h1>Registro de Treinos:</h1>

                <div class="mb-3">
                    <label for="duracao" class="form-label">Tempo de duração:</label>
                    <input type="text" class="form-control" id="duracao" placeholder="Ex: 1h 30m">
                </div> 

                <div class="mb-3">
                    <label for="data" class="form-label">Data do treino:</label>
                    <input type="datetime-local" class="form-control" id="data">
                </div>

                <div class="mb-3">
                    <label for="local" class="form-label">Onde será:</label>
                    <input type="text" class="form-control" id="local" placeholder="Local do treino">
                </div>

                <div class="mb-3" id="radio_container">
                    <label class="form-label">Tipo de treino:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_aerobico" value="Aerobico">
                        <label class="form-check-label" for="tipo_aerobico">Aeróbico</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_forca" value="Forca">
                        <label class="form-check-label" for="tipo_forca">Força</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_funcional" value="Funcional">
                        <label class="form-check-label" for="tipo_funcional">Funcional</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_HIIT" value="HIIT">
                        <label class="form-check-label" for="tipo_HIIT">HIIT</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_resistencia" value="Resistencia">
                        <label class="form-check-label" for="tipo_resistencia">Resistência</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipo" id="tipo_jogo" value="Jogo">
                        <label class="form-check-label" for="tipo_jogo">Jogo</label>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="enviar">Enviar</button>
                <a href="treino.html" type="button" class="btn btn-primary">Voltar</a>
            </form>
            <div id="mensagem"></div>
        </div>
    </main>
    <footer>
        <p>&copy; Copyright Volleyball-Angels.com 2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../../assets/js/valida_sessao.js"></script>
    <script src="../../assets/js/treino/treino_novo.js"></script>
</body>
</html>
