<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../assets/js/autenticacao.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/cadastro.css">
    <link rel="icon" href="../../assets/img/Logo_Volleyball_Angels.png">
    <title>Volleyball Angels - Cadastro</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-spacer"></div>
            <div class="container-logo">
                <h1 id="texto-logo">Volleyball Angels</h1>
            </div>
            <div class="login">
                <a href="login.html" class="login-link">
                    <span class="login-text">Entrar</span>
                    <img src="" alt="Acessar perfil de usuário">
                </a>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="navbar">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="index.html">Home</a></li>
                            <li><a class="dropdown-item" href="eventos.html">Eventos</a></li>
                            <li><a class="dropdown-item" href="jogos.html">Jogos</a></li>
                            <li><a class="dropdown-item" href="treino.html">Treinos</a></li>
                            <li><a class="dropdown-item" href="produtos.html">Produtos</a></li>
                            <li><a class="dropdown-item" href="gerenciamento-usuario.html">Usuários</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item nav-item-desktop">
                        <a class="nav-link" href="eventos.html">Eventos</a>
                    </li>
                    <li class="nav-item nav-item-desktop">
                        <a class="nav-link" href="jogos.html">Jogos</a>
                    </li>
                    <li class="nav-item nav-item-desktop">
                        <a class="nav-link" href="treino.html">Treinos</a>
                    </li>
                    <li class="nav-item nav-item-desktop">
                        <a class="nav-link" href="produtos.html">Produtos</a>
                    </li>
                    <li class="nav-item nav-item-desktop">
                        <a class="nav-link" href="gerenciamento-usuario.html">Usuários</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="shadow-lg border p-5 form-container">
            <h1 class="modal-title fs-5 mb-3" id="exampleModalLabel">Cadastro</h1>
            <form id="form-cadastro">
                <div class="mb-3">
                    <label for="nome-cadastro" class="form-label">Nome</label>
                    <input type="text" id="nome-cadastro" class="form-control" placeholder="Digite seu nome aqui">
                </div>
                <div class="mb-3">
                    <label for="email-cadastro" class="form-label">E-mail</label>
                    <input type="email" id="email-cadastro" class="form-control" placeholder="Digite seu e-mail aqui">
                </div>
                <div class="mb-3">
                    <label for="senha-cadastro" class="form-label">Senha</label>
                    <input type="password" id="senha-cadastro" class="form-control" placeholder="Digite sua senha aqui">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sexo</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexo" id="radio-masculino" value="Masculino">
                        <label class="form-check-label" for="radio-masculino">Masculino</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexo" id="radio-feminino" value="Feminino">
                        <label class="form-check-label" for="radio-feminino">Feminino</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="seletor-cargo" class="form-label">Serei:</label>
                    <select id="seletor-cargo" class="form-select">
                        <option selected>Usuário</option>
                        <option>Membro</option>
                        <option>Jogador</option>
                        <option>Administrador</option>
                    </select>
                </div>
                <div class="d-grid">
                    <button type="submit" id="botao-cadastrar" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="login.html" id="btn-voltar" class="btn btn-link">Voltar</a>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; Copyright Volleyball-Angels.com 2025</p>
    </footer>

    <script src="../../assets/js/cadastro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>
</html>