<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="icon" href="../../assets/img/Logo_Volleyball_Angels.png">
    <title>Volleyball Angels</title>
</head>
<body>
    <header>
        <div class="ajuste_header">
            <nav class="navbar">
                <ul class="nav nav-tabs">
                    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="#">Active</a> </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="eventos.html">Eventos</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="container-logo">
                <h1 class="text-6xl">Volleyball Angels</h1>
            </div>
            <div class="login">
                <a href="login.html" class="col-2 m-0 p-0 text-end">Entrar</a>
                <img class="col-1 p-0 m-0 mh-100 h-100" src="../../assets/img/Logo_usuario.png" alt="Imagem de perfil">
            </div>
        </div>
    </header>
    <main>
        <div>
            
        </div>
        <section>
            <div class="faixa-marrom">
                <h1>////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////</h1>
            </div>
            <div class="faixa-amarela">
                <div class="conteudo">
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                    <h1>Volleyball Angels</h1>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; Copyright Volleyball-Angels.com 2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <script src="../../assets/js/index.js"></script>
</body>
</html>