<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Volleyball Angels - Treinos</title>
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: center; height: 20%"> <!-- Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">Volleyball Angels</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="eventos.html" class="nav-link">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contato</a>
                        </li>
                        <liv class="nav-item">
                            <a href="#" class="nav-link">Shop</a>
                        </liv>
                        <li class="nav-item">
                            <a href="login.html" class="nav-link">Login</a>
                        </li>                   
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main> <!--Parte -->
        <h1>Agendar Treino</h1>
        
        <div id="busca_evento">
            <form id="form_busca" class="d-flex" role="search">
                <input id="input_busca" class="form-control me-2" type="search" placeholder="Buscar Eventos" aria-label="Search"/>
            </form>
        </div>
        
        <div class="treinos">
            <button type="button" id="nv_treino" class="nv_treino">Novo Treino</button>
            <div class="container" id="list_Forms">

            </div>
        </div>
    </main>

    
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> <!--Não faço ideia dq é isso-->
        <script src="../../assets/js/Treino.js"></script>
    </footer>
</body>
</html>
